<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ greeting }}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
        <h1>{{ greeting }}</h1>
        <form method="post">
  <div class="form-group">
    <label for="exampleInputLogin">Login</label>
    <input type="text" class="form-control" id="exampleInputLogin" aria-describedby="loginHelp">
    <small id="loginHelp" class="form-text text-muted">We'll never share your login with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Envoyer</button>
</form>
    </body>
</html>